<style>
  /* Menghilangkan margin default dari browser */
  body {
    margin: 0;
  }
</style>
<header class="bg-green-600 p-4">
    <div class="container mx-auto flex justify-between items-center text-white">
        <div class="text-xl font-bold">
            SIRASO Bussiness Center
        </div>
        <nav class="flex items-center space-x-4">
            <a href="/home" class="hover:text-gray-200">Home</a>
            <a href="#" class="hover:text-gray-200">About</a>
            <a href="/keranjang" class="hover:text-gray-200">Pesanan saya</a>
            <a href="/pencarian" class="hover:text-gray-200">Pencarian Makanan</a>
            <a href="/history" class="hover:text-gray-200">Riwayat Transaksi</a>
        </nav>
    </div>
</header>

